{% extends 'super_admin.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <a href="{{ path('super_admin_project_new') }}" class="btn-custom">Créer un nouveau project</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Participants</th>
                <th>Liens</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{% for participant in project.participant %}
                        {{ participant.firstName }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
                <td>
                    {% for link in project.links %}
                        <a href="{{ link.link }}" target="_blank">{{ link.label }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('super_admin_project_show', {'id': project.id}) }}">Détails</a><br>
                    <a href="{{ path('super_admin_project_edit', {'id': project.id}) }}">Modifier</a><br>
                    <a href="{{ path('super_admin_project_link',{'id':project.id}) }}">Ajouter des liens</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
