{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('path/to/password-toggle-bootstrap.css') }}">
{% endblock %}

{% block body %}
    <h1>Modifier mon Profil</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {
            'attr': {
                'class': 'form-control toggle-password-input',
                'data-toggle-password': true
            }
        }) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.firstName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.lastName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.cv) }}
        {{ form_widget(form.cv, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.cv) }}
    </div>

    <div class="form-group">
        {{ form_label(form.cvType) }}
        {{ form_widget(form.cvType, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.cvType) }}
    </div>

{#    <div class="form-group">#}
{#        {{ form_label(form.profilePicture) }}#}
{#        {{ form_widget(form.profilePicture, { 'attr': { 'class': 'form-control' } }) }}#}
{#        {{ form_errors(form.profilePicture) }}#}
{#    </div>#}


    <button type="submit" class="btn btn-primary">Sauvegarder</button>

    {{ form_end(form) }}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const togglePasswordInputs = document.querySelectorAll('.toggle-password-input');
            togglePasswordInputs.forEach(function (input) {
                const toggleBtn = document.createElement('span');
                toggleBtn.className = 'toggle-password-btn';
                toggleBtn.innerHTML = '<i class="fa fa-eye"></i>';

                toggleBtn.addEventListener('click', function () {
                    const type = input.type === 'password' ? 'text' : 'password';
                    input.type = type;
                });

                input.parentNode.insertBefore(toggleBtn, input.nextSibling);
            });
        });
    </script>
{% endblock %}
