{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/css/array.css') }}">
{% endblock %}

{% block body %}
    <h1>Modifier mon Profil</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.person) }}
        {{ form_widget(form.person, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.person) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.firstName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.lastName) }}
    </div>

    <button type="submit" class="btn btn-primary">Sauvegarder</button>

    {{ form_end(form) }}
{% endblock %}