{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="profile-page">
        <h1 class="profile-title">Mon Profil</h1>

        <div class="edit-profile-btn-container">
            <a href="{{ path('app_profil_edit') }}" class="btn btn-primary edit-profile-btn">Modifier mon profil</a>
        </div>

        <p class="profile-info">Nom    : {{ person.lastName }}</p>
        <p class="profile-info">Prenom : {{ person.firstName }}</p>
        <p class="profile-info">Email  : {{ user.email }}</p>

        <ul>
            {% for file in person.files %}
                <li>
                    <a href="{{ path('app_file_show', { id: file.id, name: file.realFileName }) }}" target="_blank" class="file-link">{{ file.realFileName }}</a>
                    - <span class="file-label">{{ file.label }}</span>

                    {% if file.realFileName|split('.')|last == 'pdf' %}
                        <embed src="{{ path('app_file_show', { id: file.id, name: file.realFileName }) }}" type="application/pdf" style="min-width: 100%" height="500">
                    {% elseif file.realFileName|split('.')|last in ['jpg', 'jpeg', 'png'] %}
                        <img src="{{ path('app_file_show', { id: file.id, name: file.realFileName }) }}" alt="{{ file.realFileName }}" style="max-width: 100%; height: auto;">
                    {% else %}
                        <span>Type de fichier non supporté.</span>
                    {% endif %}

                    <form action="{{ path('app_delete_cv', { id: file.id }) }}" method="post" style="display: inline;">
                        <button type="submit" class="delete-cv-btn" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?');">Supprimer</button>
                    </form>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
