{% extends 'super_admin.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier </h1>
    <div>
        {{ form_start(personForm) }}
            {{ form_row(personForm.firstName)}}
            {{ form_row(personForm.lastName)}}
            {{ form_row(personForm.school)}}
        <button type="submit">Enregistrer</button>
        {{ form_end(personForm) }}
    </div>

    <a href="{{ path('super_admin_app_school_employee_index') }}">Retour</a>

    {{ include('super_admin/school/_delete_form.html.twig') }}
{% endblock %}
