{% extends 'super_admin.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Ecole de référence</th>
                <th>Adresse de l'école</th>
                <th>Date de mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            {% if is_granted('ROLE_SCHOOL_INTERNSHIP',person.getUser) %}
            <tr>
                <td>{{ person.lastName }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.school.name }}</td>
                <td>{{ person.school.address.fullAddress }}</td>
                <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{ path('super_admin_app_school_employee_show', {'id': person.id}) }}">Voir</a>
                    <a href="{{ path('super_admin_app_school_employee_edit', {'id': person.id}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement ! </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
