{{ form_start(form) }}
<div>
    {{ form_label(form.person) }}
    {{ form_widget(form.person) }}
</div>
<div>
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName) }}
</div>
<div>
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
</div>
<div>
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
</div>
<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}