{% extends 'super_admin.html.twig' %}

{% block title %}Modifier une entreprise{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/css/array.css') }}">
{% endblock %}

{% block body %}
    <h1>Modifier l'entreprise {{ company.name }}</h1>

    {{ form_start(form) }}
    <table class="table">
        <tr>
            <th>{{ form_label(form.name) }}</th>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.companyType) }}</th>
            <td>{{ form_widget(form.companyType) }}</td>
        </tr>

        <tr>
            <th>{{ form_label(form.address) }}</th>
            <td>{{ form_widget(form.address) }}</td>
        </tr>

{#        <tr>#}
{#            <th>{{ form_label(form.employee) }}</th>#}
{#            <td>{{ form_widget(form.employee) }}</td>#}
{#        </tr>#}
    </table>

    <div class="btnForm">
        <a href="{{ path('super_admin_app_company_index') }}" class="btn btn-primary back-btn">Retour</a>
        <button id="btn-submit" class="btn btn-primary back-btn">Modifier</button>

    </div>
    {{ form_end(form) }}
    {{ include('super_admin/school/_delete_form.html.twig') }}

{% endblock %}

