{% extends 'super_admin.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <h1>Entreprises</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Type d'entreprise</th>
            <th>Adresse</th>
            <th>Nombre d'employés</th>
            <th>Date de création</th>
            <th>Date de mise à jour</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.companyType }}</td>
                <td><a href="{{ path('super_admin_address_show', {'id': company.address.id}) }}">{{ company.address.fullAddress }}</a></td>
                <td>{{ company.employeeNumber }}</td>
                <td>{{ company.createdAt ? company.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ company.updatedAt ? company.updatedAt|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_company_show', {'id': company.id}) }}">Voir</a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_new') }}">Créer une nouvelle entreprise</a>
{% endblock %}