{% extends 'super_admin.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <h1>Entreprises</h1>

    <a href="{{ path('super_admin_app_company_new') }} " class="btn-custom">Créer une nouvelle entreprise</a>

    <table class="table">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(companies,'Nom','c.name') }}</th>
            <th>{{ knp_pagination_sortable(companies,'Adresse','a.city') }}</th>
            <th>{{ knp_pagination_sortable(companies,'Employés d\'entreprise','cm.lastName') }}</th>
            <th>{{ knp_pagination_sortable(companies,'Stagiaires','ct.lastName') }}</th>
            <th>{{ knp_pagination_sortable(companies,'Modifiée le','c.updatedAt') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>
                    {% if company.address.street != null %}
                        <a href="{{ path('super_admin_address_show', {'id': company.address.id}) }}">{{ company.address.fullAddress }}</a>
                        {% else %}
                        Aucune adresse
                    {% endif %}
                </td>
                <td>
                    {% for person in personne %}
                        {% if person.company is not null and company.id == person.company.id and person.school is null %}
                            <a href="{{ path('super_admin_app_person_show',{'id':person.id}) }}">{{ person.lastName }} {{ person.firstName }}</a> <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for person in personne %}
                        {% if person.company is not null and person.school is not null and company.id==person.company.id %}
                            <a href="{{ path('super_admin_app_person_show',{'id':person.id}) }}">{{ person.lastName }} {{ person.firstName }}</a> <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ company.updatedAt ? company.updatedAt|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('super_admin_app_company_show', {'id': company.id}) }}">Détails</a><br>
                    <a href="{{ path('super_admin_app_company_edit', {'id': company.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination-container">
        {{ knp_pagination_render(companies) }}
    </div>

{% endblock %}