{% extends 'super_admin.html.twig' %}

{% block title %}Détails de l'entreprise{% endblock %}

{% block body %}
    <h1>Détails de l'entreprise</h1>

    <table class="table table-show">
        <tbody>
        <tr>
            <th class="table-show">Nom</th>
            <td class="table-show">{{ company.name }}</td>
        </tr>
        <tr>
            <th class="table-show">Type d'entreprise</th>
            <td class="table-show">{{ company.companyType }}</td>
        </tr>

        <tr>
            <th class="table-show">Adresse</th>
            <td class="table-show">{{ company.address.fullAddress ?? null }}</td>
        </tr>

        <tr>
            <th class="table-show">Nombre d'employés</th>
            <td class="table-show">{{ company.employeeNumber }}</td>
        </tr>

        <tr>
            <th>Dernière modification</th>
            <td>{% if company.updatedAt != null %}
                    {{ company.updatedAt|date('Y-m-d H:i:s') }}
                {% else %}
                    créé le : {{ company.createdAt|date('Y-m-d H:i:s')}}
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>

    <div class="center-btn-container">
        <a href="{{ path('super_admin_app_company_index') }}" class="btn btn-primary back-btn">Retour</a>

        <a href="{{ path('super_admin_app_company_edit', {'id': company.id}) }}" class="btn btn-primary back-btn">Modifier</a>
    </div>



    {{ include('super_admin/company/_delete_form.html.twig')}}
{% endblock %}