{% extends 'super_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('super_admin_app_user_new') }}" class="btn-custom" >Créer un utilisateur </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('super_admin_app_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('super_admin_app_user_edit', {'id': user.id}) }}">Modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
