{% extends 'super_admin.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <h1>Créer un compte utilisateur pour  {{ person.firstName }} {{ person.lastName | upper }} </h1>

    {{ form_start(userForm) }}
    <table class="table">
        <tbody>
        <tr>
            <th>Email : </th>
            <td>{{ form_widget(userForm.email) }}</td>
        </tr>
        <tr>
            <th>Mot de passe : </th>
            <td>{{ form_widget(userForm.password) }}</td>
        </tr>
        <tr>
            <th>Rôle : </th>
            <td style="color: black">{{ form_widget(userForm.roles) }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn">Créer</button>
            </td>
        </tr>
    </table>
    {{ form_end(userForm) }}


    <a href="{{ path('super_admin_app_user_index') }}">retour à la liste des utilisateur</a>
{% endblock %}
