{% extends 'admin.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(addresses, 'id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(addresses, 'NbStreet', 'a.nbStreet') }}</th>
                <th>{{ knp_pagination_sortable(addresses, 'Street', 'a.street') }}</th>
                <th>{{ knp_pagination_sortable(addresses, 'ZipCode', 'a.zipCode') }}</th>
                <th>{{ knp_pagination_sortable(addresses, 'City', 'a.city') }}</th>
                <th>{{ knp_pagination_sortable(addresses, 'Dernière modification', 'a.updatedAt')?knp_pagination_sortable(addresses, 'Dernière modification', 'a.createdAt') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.nbStreet }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.zipCode }}</td>
                <td>{{ address.city }}</td>
                <td>
                    {% if address.updatedAt != null %}
                        {{ address.updatedAt|date('Y-m-d H:i:s') }}
                    {% else %}
                        crée le : {{ address.createdAt|date('Y-m-d H:i:s')}}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('admin_address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(addresses) }}

    <a href="{{ path('admin_address_new') }}">Create new</a>
{% endblock %}
