{% extends 'super_admin.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro de rue</th>
                <td>{{ address.nbStreet }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <th>code postal</th>
                <td>{{ address.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Dernière modification</th>
                <td>{% if address.updatedAt != null %}
                        {{ address.updatedAt|date('Y-m-d H:i:s') }}
                    {% else %}
                        créé le : {{ address.createdAt|date('Y-m-d H:i:s')}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('super_admin_address_index') }}">Retour à la liste</a>

    <a href="{{ path('super_admin_address_edit', {'id': address.id}) }}">Modifier</a>

    {{ include('super_admin/address/_delete_form.html.twig') }}
{% endblock %}
