{% extends 'super_admin.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>

    <a href="{{ path('super_admin_app_person_new') }}" class="btn-custom">Créer une personne</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(personne, 'Prénom', 'p.firstName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Nom', 'p.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Rôle', 'p.labelRole') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Date de création', 'p.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Date de mise à jour', 'p.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(personne, 's\'est déjà connecté ?', 'u.everLoggedIn') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in personne %}
            {% if person is not null %}
            <tr>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.labelRole }}</td>
                <td>{{ person.createdAt ? person.createdAt|date('d/m/Y')}}</td>
                <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y')}}</td>
                {% if person.user != null and person.user.everLoggedIn %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                <td>
                    <a href="{{ path('super_admin_app_person_show', {'id': person.id}) }}">Voir</a>
                    <a href="{{ path('super_admin_app_person_edit', {'id': person.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('super_admin_app_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet élément?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                    {% if not person.user %}
                        <a href="{{ path('super_admin_app_user_new', {'id': person.id}) }}" class="btn-custom">Créer un Utilisateur</a>
                    {% else %}
                        <a href="{{ path('super_admin_app_user_edit', {'id': person.id}) }}">Modifier rôle</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement ! </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(personne) }}
{% endblock %}
