{% extends 'super_admin.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
{#                <th>Date début de stage</th>#}
{#                <th>Date fin de stage</th>#}
                <th>Date de création</th>
                <th>Date de mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            {% if people is not null) %}
            <tr>
                <td>{{ person.lastName }}</td>
                <td>{{ person.firstName }}</td>
{#                <td>{{ person.startInternship ? person.startInternship|date('d/m/Y')}}</td>#}
{#                <td>{{ person.endInternship ? person.endInternship|date('d/m/Y')}}</td>#}
                <td>{{ person.createdAt ? person.createdAt|date('d/m/Y')}}</td>
                <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{ path('super_admin_app_person_show', {'id': person.id}) }}">Voir</a>
                    <a href="{{ path('super_admin_app_person_edit', {'id': person.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('super_admin_app_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet élément?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement ! </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('super_admin_app_person_new') }}">Créer</a>



{% endblock %}
