{% extends 'super_admin.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>

    <a href="{{ path('super_admin_app_person_new') }}" class="btn-custom">Créer une personne</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(personne, 'Nom et prénom', 'p.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Rôle', 'p.roles') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'S\'est déjà connecté ?', 'u.everLoggedIn') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Peut se connecter ?', 'u.canLogin') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Date de mise à jour', 'p.updatedAt') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in personne %}
            {% if person is not null %}
            <tr>
                <td>{{ person.lastName }} {{ person.firstName }}</td>
                {% if person.roles[0]=="ROLE_SUPER_ADMIN" %}
                    <td>Super Admin</td>
                {% else %}
                    {% if person.roles[0]=="ROLE_ADMIN" %}
                        <td>Chef d'entreprise</td>
                    {% else %}
                        {% if person.roles[0]=="ROLE_COMPANY_INTERNSHIP" %}
                            <td>Maître de stage</td>
                        {% else %}
                            {% if person.roles[0]=="ROLE_COMPANY_REFERENT" %}
                                <td>Référent entreprise</td>
                            {% else %}
                                {% if person.roles[0]=="ROLE_SCHOOL_INTERNSHIP" %}
                                    <td>Référent école</td>
                                {% else %}
                                    {% if person.roles[0]=="ROLE_TRAINEE" %}
                                        <td>Stagiaire</td>
                                    {% else %}
                                        <td>Autre</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if person.user != null and person.user.everLoggedIn %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                {% if person.user != null and person.user.canLogin %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{ path('super_admin_app_person_show', {'id': person.id}) }}">Détails</a>
                    <a href="{{ path('super_admin_app_person_edit', {'id': person.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement ! </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(personne) }}
{% endblock %}
