{% extends 'super_admin.html.twig' %}

{% block title %} Créer une personne {% endblock %}

{% block body %}
    <h1>Créer une personne</h1>

    {{ form_start(personForm) }}
    <table class="table">
        <tbody>
        <tr>
            <th>Nom : </th>
            <td>{{ form_widget(personForm.lastName) }}</td>
        </tr>
        <tr>
            <th>Prénom : </th>
            <td>{{ form_widget(personForm.firstName) }}</td>
        </tr>
        <tr>
        <tr>
            <th>Ajouter un CV : </th>
            <td>{{ form_widget(personForm.cv) }}</td>
        </tr>
        <tr>
            <th>Ajouter une lettre de motivation : </th>
            <td>{{ form_widget(personForm.coverLetter) }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn">Créer</button>
            </td>
        </tr>
    </table>
    {{ form_end(personForm) }}
    <a href="{{ path('super_admin_app_person_index') }} " class="btn-custom">Retour</a>
{% endblock %}
