{% extends 'super_admin.html.twig' %}

{% block title %} Créer une personne {% endblock %}

{% block body %}
    <h1>Créer une personne</h1>
    <div>
        {{ form_start(personForm) }}
            {{ form_row(personForm.firstName)}}
            {{ form_row(personForm.lastName)}}
{#            {{ form_row(personForm.startInternship)}}#}
{#            {{ form_row(personForm.endInternship)}}#}
{#            {{ form_row(personForm.school)}}#}
            {{ form_row(personForm.cv)}}
            {{ form_row(personForm.coverLetter)}}
            {{ form_row(personForm.internshipAgreement)}}
        <button type="submit">Créer</button>
        {{ form_end(personForm) }}
    </div>

    <a href="{{ path('super_admin_app_person_index') }}">Retour</a>
{% endblock %}
