{% extends 'super_admin.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>{{ person.firstName }} {{ person.lastName | upper }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom : </th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom : </th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                {% if person.user %}
                    <th>Email : </th>
                    <td>{{ person.user.email }}</td>
                {% endif %}
            </tr>
{#                <th>Date de début de stage</th>#}
{#                <td>{{ person.startInternship ? person.startInternship|date('d/m/Y H:i') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Date de fin de stage</th>#}
{#                <td>{{ person.endInternship ? person.endInternship|date('d/m/Y H:i') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>Créé le :</th>
                <td>{{ person.createdAt ? person.createdAt|date('d/m/Y H:i')}}</td>
            </tr>
            <tr>
                {% if person.updatedAt is not defined %}
                    <th>Mis à jour le : </th>
                    <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y H:i')}}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Documents : </th>
                    <td>
                        {% for file in person.files %}
                            <a href="{{ asset('documents/' ~file.realFileName) }}" target="_blank">{{ file.label }}</a>
                        {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('super_admin_app_person_index') }}">Retour</a>

    <a href="{{ path('super_admin_app_person_edit', {'id': person.id}) }}">Modifier</a>

    {{ include('super_admin/person/_delete_form.html.twig') }}
{% endblock %}
