{% extends 'super_admin.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier </h1>
    <div>
        {{ form_start(personForm) }}
            {{ form_row(personForm.startInternship)}}
            {{ form_row(personForm.endInternship)}}
            {{ form_row(personForm.firstName)}}
            {{ form_row(personForm.lastName)}}
            {{ form_row(personForm.school)}}
            {{ form_row(personForm.company) }}
        <button type="submit">Enregistrer</button>
        {{ form_end(personForm) }}
    </div>

    <a href="{{ path('super_admin_app_trainee_index') }}">Retour</a>

    {{ include('super_admin/trainee/_delete_form.html.twig') }}
{% endblock %}
