{% extends 'super_admin.html.twig' %}

{% block title %}Index Stagiaire{% endblock %}

{% block body %}
    <h1>Liste des Stagiaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(personne, 'Nom et prénom', 'p.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Ecole', 's.name') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Référent école', 'ss.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Entreprise', 'c.name') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Référent entreprise', 'cr.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Maître de stage', 'i.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Début de stage', 'p.startInternship') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Fin de stage', 'p.endInternship') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Modifié le', 'p.updatedAt') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in personne %}
            {% if person is defined %}
            <tr>
                <td>{{ person.lastName }} {{ person.firstName }}</td>
                {% if person.school is defined and person.school is not null %}
                    <td><a href="{{ path('super_admin_school_show', {'id': person.school.id}) }}">{{ person.school.name }}</a></td>
                {% else %}
                    <td>Pas d'école</td>
                {% endif %}
                {% if person.schoolSupervisor is not null%}
                    <td><a href="{{ path('super_admin_app_person_show', {'id':person.schoolSupervisor.id}) }}">{{ person.schoolSupervisor.firstName }} {{ person.schoolSupervisor.lastName }}</td>
                {% else %}
                    <td>Pas de référent école</td>
                {% endif %}
                {% if person.company is not null %}
                    <td><a href="{{ path('super_admin_app_company_show', {'id':person.company.id}) }}">{{ person.company.name }}</a></td>
                {% else %}
                    <td>Pas d'entreprise</td>
                {% endif %}
                {% if person.companyReferent is defined and person.companyReferent is not null %}
                    <td><a href="{{ path('super_admin_app_person_show',{'id':person.companyReferent.id}) }}">{{ person.companyReferent.firstName }} {{ person.companyReferent.lastName }}</a></td>
                {% else %}
                    <td>Pas de référent d'entreprise</td>
                {% endif %}
                {% if person.internshipSupervisor is defined and person.internshipSupervisor is not null %}
                    <td><a href="{{ path('super_admin_app_person_show',{'id':person.internshipSupervisor.id}) }}">{{ person.internshipSupervisor.firstName }} {{ person.internshipSupervisor.lastName }}</a></td>
                {% else %}
                    <td>Pas de maître de stage</td>
                {% endif %}
                <td>{{ person.startInternship ? person.startInternship|date('d/m/Y')}}</td>
                <td>{{ person.endInternship ? person.endInternship|date('d/m/Y')}}</td>
                <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{ path('super_admin_app_trainee_show', {'id': person.id}) }}">Détails</a>
                    <a href="{{ path('super_admin_app_trainee_edit', {'id': person.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement ! </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(personne) }}

{% endblock %}
