{% extends 'super_admin.html.twig' %}

{% block title %}Modifier une école{% endblock %}

{% block body %}
    <h1>Modifier l'école</h1>
    <h2>{{ school.name }}</h2>

    {{ form_start(form) }}
    <table class="table">
        <tr>
            <th>Nom de l'école</th>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ form_widget(form.address) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}

    <div class="btnForm">
        <a href="{{ path('super_admin_school_index') }}" class="btn-custom">Retour</a>
        <button class="btn-custom">Modifier</button>
    </div>
    {{ include('super_admin/school/_delete_form.html.twig') }}
{% endblock %}