{% extends 'super_admin.html.twig' %}

{% block title %}School index{% endblock %}

{% block body %}
    <h1>School index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(schools, 'id', 's.id') }}</th>
                <th>{{ knp_pagination_sortable(schools, 'Name', 's.name') }}</th>
                <th>Address</th>
                <th>{{ knp_pagination_sortable(schools, 'Dernière modification', 's.updatedAt')?knp_pagination_sortable(schools, 'Dernière modification', 's.createdAt') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.id }}</td>
                <td>{{ school.name }}</td>
                <td>
                    {% if school.address is defined %}
                        <a href="{{ path('super_admin_address_show', {'id': school.address.id}) }}">{{ school.address.fullAddress }}</a>
                    {% else %}
                        <b style="color: red">Aucune addresse</b>
                    {% endif %}
                </td>
                <td>
                    {% if school.updatedAt != null %}
                        {{ school.updatedAt|date('d-m-Y H:i') }}
                    {% else %}
                        {{ school.createdAt|date('d-m-Y H:i')}}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('super_admin_school_show', {'id': school.id}) }}">show</a>
                    <a href="{{ path('super_admin_school_edit', {'id': school.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(schools) }}

    <a href="{{ path('super_admin_school_new') }}">Create new</a>
{% endblock %}
