{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Stagiaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom : </th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom : </th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Date de début de stage</th>
                <td>{{ person.startInternship ? person.startInternship|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin de stage</th>
                <td>{{ person.endInternship ? person.endInternship|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Créé le :</th>
                <td>{{ person.createdAt ? person.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour le : </th>
                <td>{{ person.updatedAt ? person.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_person_index') }}">Retour</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">Modifier</a>

{% endblock %}
