

{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Créer une nouvelle entreprise</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ 'Enregistrer'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_company_index') }}">Retour à la liste</a>
{% endblock %}