<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://msconsulting-europe.com/wp-content/uploads/2024/05/cropped-logo-square.jpg">
    {% block stylesheets %}
        <link href="{{ asset('/styles/css/array.css') }}" rel="stylesheet" />
        <link href="{{ asset('/styles/css/nav_bar.css') }}" rel="stylesheet" />
        <link href="{{ asset('/styles/css/style.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
<header class="header-container">
    <div class="logo-container">
        <a href="{{ path('app_home') }}">
            <img src="https://msconsulting-europe.com/wp-content/uploads/2024/05/cropped-logo-square.jpg" alt="Logo" class="logo-img">
        </a>
    </div>
    <div class="nav-container">
        {% include "components/navbar.html.twig" %}
    </div>
</header>
<main class="container">
    {% block body %}{% endblock %}
</main>
<footer>
    {% include "navfoot/footer.html.twig" %}
</footer>
</body>

</html>