<div{{ attributes }} >
        {{ form_start(form, {'attr': {'id': 'formDate'}})}}
        <table class="table">
            <tbody>
{#            <tr>#}
{#                <th>{{ form_label(form.emailChoice) }}</th>#}
{#                <td>{{ form_widget(form.emailChoice) }}</td>#}
{#            </tr>#}
            <tr>
                <th>{{ form_label(form.email) }}</th>
                <td>{{ form_widget(form.email) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.password) }}</th>
                <td>{{ form_widget(form.password) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.roles) }}</th>
                <td>{{ form_widget(form.roles) }}</td>
            </tr>
            {% if form.startInternship is defined %}
                <tr>
                    <th>{{ form_label(form.startInternship) }}</th>
                    <td>{{ form_widget(form.startInternship) }}</td>
                </tr>
            {% endif %}
            {% if form.endInternship is defined %}
                <tr>
                    <th>{{ form_label(form.endInternship) }}</th>
                    <td>{{ form_widget(form.endInternship) }}</td>
                </tr>
            {% endif %}
            {% if form.school is defined %}
                <tr>
                    <th>{{ form_label(form.school) }}</th>
                    <td>{{ form_widget(form.school) }}</td>
                </tr>
            {% endif %}
            {% if form.schoolSupervisors is defined %}
                <tr>
                    <th>{{ form_label(form.schoolSupervisors) }}</th>
                    <td>{{ form_widget(form.schoolSupervisors) }}</td>
                </tr>
            {% endif %}
            {% if form.company is defined %}
                <tr>
                    <th>{{ form_label(form.company) }}</th>
                    <td>{{ form_widget(form.company) }}</td>
                </tr>
            {% endif %}
            {% if form.internshipSupervisors is defined %}
                <tr>
                    <th>{{ form_label(form.internshipSupervisors) }}</th>
                    <td>{{ form_widget(form.internshipSupervisors) }}</td>
                </tr>%}
            {% endif %}
{#            {% if form.cv is defined %}#}
{#                <tr>#}
{#                    <th>{{ form_label(form.cv) }}</th>#}
{#                    <td>{{ form_widget(form.cv) }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if form.coverLetter is defined %}#}
{#                <tr>#}
{#                    <th>{{ form_label(form.coverLetter) }}</th>#}
{#                    <td>{{ form_widget(form.coverLetter) }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if form.internshipAgreement is defined %}#}
{#                <tr>#}
{#                    <th>{{ form_label(form.internshipAgreement) }}</th>#}
{#                    <td>{{ form_widget(form.internshipAgreement) }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
            <tr>
                <td colspan="2">
                    <button id="btn-submit" class="btn">Créer</button>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
        <a href="{{ path('super_admin_app_user_index') }}">Retour à la liste des utilisateur</a>
</div>
