<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="{{ path('app_home') }}"><i class="fas fa-home"></i> Accueil</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('super_admin_app_trainee_index') }}"><i class="fas fa-graduation-cap"></i> Stagiaires</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class="fas fa-crown"></i> Super admin <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="fas fa-users"></i> Personnes inscrites <i class="fas fa-caret-right"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('super_admin_app_person_index') }}"><i class="fas fa-user-circle"></i> Personnes</a></li>
                                <li><a href="{{ path('super_admin_app_company_employee_index') }}"><i class="fas fa-building"></i> Employés d'entreprise</a></li>
                                <li><a href="{{ path('super_admin_app_school_employee_index') }}"><i class="fas fa-school"></i> Employés d'école</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('super_admin_address_index') }}"><i class="fas fa-map-marker-alt"></i> Adresses</a></li>
                        <li><a href="{{ path('super_admin_school_index') }}"><i class="fas fa-university"></i> Écoles</a></li>
                        <li><a href="{{ path('super_admin_app_company_index') }}"><i class="fas fa-building"></i> Entreprises</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fas fa-user"></i> Profil <i class="fas fa-caret-down"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="{{ path('app_profil') }}"><i class="fas fa-user"></i> Mon profil</a></li>
                    <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Se connecter</a></li>
        {% endif %}
    </ul>
</nav>