<div{{ attributes }}>
    {{ form_start(form) }}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ form_label(form.lastName) }}</th>
                <td>{{ form_widget(form.lastName) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.firstName) }}</th>
                <td>{{ form_widget(form.firstName) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.mailContact) }}</th>
                <td>{{ form_widget(form.mailContact) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.roles) }}</th>
                <td>{{ form_widget(form.roles) }}</td>
            </tr>
            {% if form.startInternship is defined %}
                <tr>
                    <th>{{ form_label(form.startInternship) }}</th>
                    <td>{{ form_widget(form.startInternship) }}</td>
                </tr>
            {% endif %}
            {% if form.endInternship is defined %}
                <tr>
                    <th>{{ form_label(form.endInternship) }}</th>
                    <td>{{ form_widget(form.endInternship) }}</td>
                </tr>
            {% endif %}
            {% if form.companyReferent is defined %}
                <tr>
                    <th>{{ form_label(form.companyReferent) }}</th>
                    <td>{{ form_widget(form.companyReferent) }}</td>
                </tr>
            {% endif %}
            {% if form.stagiaireCompany is defined %}
                <tr>
                    <th>{{ form_label(form.stagiaireCompany) }}</th>
                    <td>{{ form_widget(form.stagiaireCompany) }}</td>
                </tr>
            {% endif %}
            {% if form.stagiaireRefEntrep is defined %}
                <tr>
                    <th>{{ form_label(form.stagiaireRefEntrep) }}</th>
                    <td>{{ form_widget(form.stagiaireRefEntrep) }}</td>
                </tr>
            {% endif %}
            {% if form.traineeSchool is defined %}
                <tr>
                    <th>{{ form_label(form.traineeSchool) }}</th>
                    <td>{{ form_widget(form.traineeSchool) }}</td>
                </tr>
            {% endif %}
            {% if form.traineeRefSchool is defined %}
                <tr>
                    <th>{{ form_label(form.traineeRefSchool) }}</th>
                    <td>{{ form_widget(form.traineeRefSchool) }}</td>
                </tr>
            {% endif %}
            {% if form.internshipSupervisor is defined %}
                <tr>
                    <th>{{ form_label(form.internshipSupervisor) }}</th>
                    <td>{{ form_widget(form.internshipSupervisor) }}</td>
                </tr>
            {% endif %}
            {% if form.schoolSupervisor is defined %}
                <tr>
                    <th>{{ form_label(form.schoolSupervisor) }}</th>
                    <td>{{ form_widget(form.schoolSupervisor) }}</td>
                </tr>
            {% endif %}
            {% if form.manager is defined %}
                <tr>
                    <th>{{ form_label(form.manager) }}</th>
                    <td>{{ form_widget(form.manager) }}</td>
                </tr>
            {% endif %}
            {% if form.cv is defined %}
                <tr>
                    <th>{{ form_label(form.cv) }}</th>
                    <td>{{ form_widget(form.cv) }}</td>
                </tr>
            {% endif %}
            {% if form.coverLetter is defined %}
                <tr>
                    <th>{{ form_label(form.coverLetter) }}</th>
                    <td>{{ form_widget(form.coverLetter) }}</td>
                </tr>
            {% endif %}
            {% if form.internshipAgreement is defined %}
                <tr>
                    <th>{{ form_label(form.internshipAgreement) }}</th>
                    <td>{{ form_widget(form.internshipAgreement) }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ form_label(form.checkUser) }}</th>
                <td>{{ form_widget(form.checkUser) }}</td>
            </tr>
            {% if form.email is defined %}
                <tr>
                    <th>{{ form_label(form.email) }}</th>
                    <td>{{ form_widget(form.email) }}</td>
                </tr>
            {% endif %}
            {% if form.password is defined %}
                <tr>
                    <th>{{ form_label(form.password) }}</th>
                    <td>{{ form_widget(form.password) }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="btnForm">
        <a href="{{ path('super_admin_app_person_index') }}" class="btn-custom">Retour</a>
        <button id="btn-submit" class="btn-custom">Créer</button>
    </div>
    {{ form_end(form) }}
</div>
