<div{{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.company) }}

    {% if form.participant is defined %}
        {{ form_row(form.participant) }}
    {% endif %}
    {{ form_row(form.linkGit) }}

    <div class="btnForm">
        <a href="{{ path('super_admin_project_index') }}" class="btn btn-primary back-btn">Retour</a>
        <button id="btn-submit" class="btn btn-primary back-btn">Créer</button>
    </div>
    {{ form_end(form) }}
</div>
