<div{{ attributes }}>

    {{ form_start(form) }}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ form_label(form.firstName) }}</th>
            <td>
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.lastName) }}</th>
            <td>
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.mailContact) }}</th>
            <td>{{ form_widget(form.mailContact) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.startInternship) }}</th>
            <td>
                {{ form_widget(form.startInternship) }}
                {{ form_errors(form.startInternship) }}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.endInternship) }}</th>
            <td>
                {{ form_widget(form.endInternship) }}
                {{ form_errors(form.endInternship) }}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.company) }}</th>
            <td>{{ form_widget(form.company) }}</td>
        </tr>
        {% if form.companyReferent is defined %}
            <tr>
                <th>{{ form_label(form.companyReferent) }}</th>
                <td>{{ form_widget(form.companyReferent) }}</td>
            </tr>
        {% endif %}
        {% if form.manager is defined %}
        <tr>
            <th>{{ form_label(form.manager) }}</th>
            <td>{{ form_widget(form.manager) }}</td>
        </tr>
        {% endif %}
        {% if form.internshipSupervisor is defined %}
        <tr>
            <th>{{ form_label(form.internshipSupervisor) }}</th>
            <td>{{ form_widget(form.internshipSupervisor) }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ form_label(form.school) }}</th>
            <td>{{ form_widget(form.school) }}</td>
        </tr>
        {% if form.schoolSupervisor is defined %}
        <tr>
            <th>{{ form_label(form.schoolSupervisor) }}</th>
            <td>{{ form_widget(form.schoolSupervisor) }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ form_label(form.cv) }}</th>
            <td>{{ form_widget(form.cv) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.coverLetter) }}</th>
            <td>{{ form_widget(form.coverLetter) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.internshipAgreement) }}</th>
            <td>{{ form_widget(form.internshipAgreement) }}</td>
        </tr>
        </tbody>
    </table>
    <div class="btnForm">
        <a href="{{ path('super_admin_app_trainee_index') }}" class="btn btn-primary back-btn">Retour</a>
        <button id="btn-submit" class="btn btn-primary back-btn">Modifier</button>
    </div>
    {{ form_end(form) }}

</div>
