{% extends 'super_admin.html.twig' %}

{% block title %}Modifier l'employé d'entreprise{% endblock %}

{% block body %}

    <h1>Modifier</h1>
    <h2>{{ personne.firstName }} {{ personne.lastName | upper }}</h2>

    {{ form_start(form) }}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ form_label(form.firstName) }}</th>
            <td>{{ form_widget(form.firstName) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.lastName) }}</th>
            <td>{{ form_widget(form.lastName) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mailContact) }}</th>
            <td>{{ form_widget(form.mailContact) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.roles) }}</th>
            <td>{{ form_widget(form.roles) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.company) }}</th>
            <td>{{ form_widget(form.company) }}</td>
        </tr>
        </tbody>
    </table>
    <div class="btnForm">
        <a href="{{ path('super_admin_app_company_employee_index') }}" class="btn btn-primary back-btn">Retour</a>
        <button id="btn-submit" class="btn btn-primary back-btn">Modifier</button>
    </div>
    {{ form_end(form) }}

    {{ include('super_admin/company_employee/_delete_form.html.twig') }}

{% endblock %}
