{% extends 'super_admin.html.twig' %}

{% block title %}Employés d'entreprise{% endblock %}

{% block body %}
    <h1>Liste des employés d'entreprise</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(personne, 'Prénom', 'p.firstName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Nom', 'p.lastName') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Role', 'u.roles') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Entreprise', 'c.name') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Adresse de l\'entreprise', 'a.city') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Email pro', 'p.mailPro') }}</th>
                <th>{{ knp_pagination_sortable(personne, 'Modifié le', 'p.updatedAt') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in personne %}
            {% if person is defined %}
                <tr>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.firstName }}</td>
                    {% if person.user.roles[0]=='ROLE_ADMIN' %}
                        <td>Manager</td>
                    {% else %}
                        <td>Superviseur interne</td>
                    {% endif %}
                    <td><a href="{{ path('super_admin_app_company_show', {'id':person.company.id}) }}">{{ person.company.name }}</a></td>
                    <td>{{ person.company.address.nbStreet }} {{ person.company.address.street }}, {{ person.company.address.zipCode }} {{ person.company.address.city }}</td>
                    {% if person.mailPro is not null %}
                        <td>{{ person.mailPro }}</td>
                    {% else %}
                        <td>Pas d'enregistrement</td>
                    {% endif %}
                    <td>{{ person.updatedAt ? person.updatedAt|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('super_admin_app_company_employee_show', {'id': person.id}) }}">Voir</a>
                            <a href="{{ path('super_admin_app_company_employee_edit', {'id': person.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement ! </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(personne) }}



{% endblock %}
