{% extends 'super_admin.html.twig' %}

{% block title %}Détails de l'employé d'entreprise{% endblock %}

{% block body %}
    <h1>{{ personne.firstName }} {{ personne.lastName | upper }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ personne.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ personne.firstName }}</td>
            </tr>
            {% if personne.mailContact and personne.user and personne.mailContact != personne.user.email %}
                <tr>
                    <th>Email de contact</th>
                    <td>{{ personne.mailContact }}</td>
                </tr>
            {% endif %}
            {% if personne.user %}
                <tr>
                    <th>Email de connexion</th>
                    <td>{{ personne.user.email }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Entreprise</th>
                <td>{{ personne.company.name }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                {% if is_granted('ROLE_ADMIN', user) %}
                    <td>Manager</td>
                {% else %}
                    <td>Superviseur interne</td>
                {% endif %}
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ personne.createdAt ? personne.createdAt|date('d/m/Y') }}</td>
            </tr>
            {% if personne.updatedAt is not null %}
                <tr>
                    <th>Mis à jour le</th>
                    <td>{{ personne.updatedAt ? personne.updatedAt|date('d/m/Y') }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="center-btn-container">
        <a href="{{ path('super_admin_app_company_employee_index') }}" class="btn btn-primary back-btn">Retour</a>
        <a href="{{ path('super_admin_app_company_employee_edit', {'id': personne.id}) }}" class="btn btn-primary back-btn">Modifier</a>
    </div>
    {{ include('super_admin/company_employee/_delete_form.html.twig') }}
{% endblock %}


